@import "tailwindcss";

* {
  /* border: 1px solid red; */

  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  background-color: #05090b;
  color: #ffffffd4;
  position: relative;
  overflow: hidden; /* hides any gradient overflow */
}

/* Top light gradient */
#root::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), transparent);
  pointer-events: none;
  z-index: 1;
}

/* Bottom light gradient */
#root::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.08), transparent);
  pointer-events: none;
  z-index: 1;
}
